MONGODB_URI=mongodb+srv://HireFusion:.czlrc.mongodb.net/HireFusion?retryWrites=true&w=majority&appName=HireFusion
RESEND_API_KEY=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_RESEND_API_KEY=
RESUME_PARSE_Lalma_API_KEY=

EMAIL_USER=
EMAIL_PASS=
